@import "vars";

@media screen and ( max-width: 576px ) {
	.section{
		padding: 1rem 0;
	}
	.header{
		padding: 1rem 0;
		&__link{
			display: none;
		}
		&__hamburger{
			display: block;
		}
	}
	.search-ticket{
		flex-direction: column;
		&__item{
			border-radius: 5px;
			margin-bottom: 1rem;
			width: 100%;
		}
		&__button{
			margin-left: auto;
			margin-right: auto;
		}
		&__nav{
			width: max-content;
			bottom: -35px;
		}
	}

	.card-box{
		&__item{
			width: 100%;
		}
	}

	.order{
		&__search-ticket{
			width: 100%;
		}
	}

	.about{
		text-align: center;
		&__item{
			padding: 1rem .1rem;
		}
	}
}